body {
  max-width: 1280px;
  margin: 0 auto;
}
div {
  border: 1px solid black;
}
h4 {
  text-align: center;
}
.header {
  margin-top: 100px;
  background-color: lightgreen;
  min-height: 200px;
  line-height: 200px;
  text-align: center;
}
.sidebar {
  background: lightsalmon;
  float: left;
  margin-right: 10px;
  min-width: 300px;
  max-width: 200px;
}
.sidebar1 {
  background-color: goldenrod;
  margin-bottom: 10px;
  padding: 10px;
  text-align: justifu;
}
